<!DOCTYPE html>
<html>
<head>
    <meta charest="utf-8" />
    <meta  name="viewport" content="width=device-width,initial-scale=1.0">
    <title>歡迎光臨</title>
    <style>
    .banner{
    background-color: cornflowerblue;
    color:white;
    font-size:50px;
    text-align:center;
    padding:40px;
        }
    .form{
    color: black;
    font-size:25px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    }
    </style>

</head>
<body>
    <div class="banner">失敗頁面<div>

    <span class="form">{{message}}</spam> 

</body>
</html>