.mywebsite{
    display:flex;
}
.left{
    flex:none;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
.menu{
    text-align:center;
    display:none;
}
.right{
    display:flex;
    justify-content:flex-end;
    flex:none;
    /* width:93%;  */
    flex:auto;
}
.item{
    flex:noen;
    margin-left:10px;
    text-align:center;
    font-size:20px;
}


.welcome{
    display:flex;
    justify-content:center;
    align-items:center;
    height:300px;
    background-color: rgb(191, 239, 239);
}
.welcometomyhome{
    font-size:40px;
    font-weight:bold;
    text-align:center;
}
.frame{
    display:flex;
    justify-content: center;    
    align-items: center;   
}
.pixel{
    width:1200px;
    width:90%;
}
.first{
    display:flex;
    /* justify-content:space-between; */
    /* justify-content:center;
    align-items:center; */
    margin-top:20px; 
    width:1200px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    /* background-color: rgb(191, 239, 239) ; */
}
.pomotion{
    display:flex;
    /* justify-content:space-between; */
     background-color: rgb(191, 239, 239) ; 
    height:50px;
    width:90%;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:5px;
}
.small{
    height:50px;
    width:80px;
}
.smallleft{
    flex:none;
    margin-right:10px;
    font-size:20px;
    background-color: rgb(191, 239, 239);
    height:50px;
    /* width:515px;  */
    width:50%;
}
.smallright{
    flex:none;
    margin-right:10px;
    font-size:20px;
    background-color: rgb(191, 239, 239);
    height:50px;
    /* width:515px;  */
    width:50%;
    
}


.title{
    font-size:20px;
    font-weight:bold;
    text-align:center;
}
.grid{
    width:90%;
    display:grid;
    justify-content:center;
    text-align:center;
    grid-gap:10px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}
.col{
     background-color:pink;
    margin-bottom:10px;
    padding:10px;
    align-self:satrt;
}
img{
    display:block;
    width:100%;
    max-width:100%;
}
@media(min-width:360px){
    .grid{
        display:grid;
        grid-template-columns:repeat(1,1fr);
    }
}

@media(min-width:600px){
    .grid{
        display:grid;
        grid-template-columns:repeat(2,1fr);
    }
}  
@media(min-width:1200px){
    .grid{
        display:grid;
        grid-gap:16px;
        padding:16px;
        grid-template-columns:repeat(4,1fr);
    }
}
@media(max-width:600px){
    .first{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
    }
    .pomotion{
        width:90%;
        margin-top:20px;
        justify-content:center;
        text-align:center;
    }
    .small img{
        display:block;
        margin-left:auto;
        margin-right:auto;
    } 
    .smallleft{
        flex:none;
        /* width:90%; */
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .smallright{
        flex:none;
        /* width:90%; */
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .menu{
        display:block;
        display:flex;
        justify-content:flex-end;
        flex:none;
        /* flex:auto; */
        margin-left:auto;

    }
    .right{
        display:none;
        
    }
}
